/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: #f7f7f7;
  font-family: Helvetica, Arial, sans-serif;
}
html .container .info-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
html .container .info-bar h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: black;
  padding-right: 20px;
}
html .container .info-bar .deal-btn {
  width: auto;
  height: 20px;
  background: white;
  font-size: 12px;
  color: black;
  border: none;
  border-radius: 10px;
}
html .container .info-bar .deal-btn:active {
  background: black;
  color: white;
}
.about {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}
.about .left-content {
  width: 50%;
}
.about .left-content img {
  width: 100%;
}
.about .right-content {
  width: 45%;
}
.home .top-photo {
  display: flex;
  align-items: flex-start;
  border-bottom: 5px solid white;
}
.home .top-photo img {
  position: relative;
  width: 100%;
}
.home .top-photo .shop-btn {
  position: absolute;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 20px;
  width: auto;
  height: 25px;
  background: white;
  font-size: 15px;
  color: black;
  border: none;
  border-radius: 10px;
}
.home .top-photo .shop-btn:active {
  background: black;
  color: white;
}
.home .middle-photo {
  display: flex;
  align-items: flex-start;
  border-bottom: 5px solid white;
}
.home .middle-photo img {
  position: relative;
  max-width: 100%;
}
.home .middle-photo .shop-btn {
  position: absolute;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 20px;
  width: auto;
  height: 25px;
  background: white;
  font-size: 15px;
  color: black;
  border: none;
  border-radius: 10px;
}
.home .middle-photo .shop-btn:active {
  background: black;
  color: white;
}
.home .bottom-photo {
  display: flex;
  align-items: flex-start;
  border-bottom: 5px solid white;
}
.home .bottom-photo img {
  position: relative;
  max-width: 100%;
}
.home .bottom-photo .shop-btn {
  position: absolute;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 20px;
  width: auto;
  height: 25px;
  background: white;
  font-size: 15px;
  color: black;
  border: none;
  border-radius: 10px;
}
.home .bottom-photo .shop-btn:active {
  background: black;
  color: white;
}
@media (max-width: 500px) {
  .navBar-main .nav-search {
    visibility: hidden;
  }
}
.about {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .about .left-content {
    width: 100%;
    margin-bottom: 10px;
  }
  .about .right-content {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 900px) {
  .about .left-content {
    width: 100%;
  }
  .about .right-content {
    width: 100%;
  }
}
header .navBar-container {
  height: 108px;
  background-color: white;
}
header .navBar-container .nav-top {
  width: 100%;
  border-bottom: #e5e5e5 solid 1px;
  height: 40px;
}
header .navBar-container .nav-top ul {
  width: 431px;
  display: flex;
  justify-content: space-evenly;
}
header .navBar-container .nav-top ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107.75px;
  height: 40px;
  font-size: 12px;
  color: #5c5b5b;
  font-weight: 400;
  border-right: #e5e5e5 solid 1px;
}
header .navBar-container .navBar-main {
  width: 100%;
  display: flex;
  padding-left: 31px;
  height: 69px;
}
header .navBar-container .navBar-main h1 {
  width: 5%;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar-container .navBar-main .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78%;
  margin-left: 100px;
}
header .navBar-container .navBar-main .nav-links a {
  font-size: 16px;
  color: black;
  text-decoration-line: none;
  font-weight: 400;
  margin-left: 20px;
}
header .navBar-container .navBar-main .nav-search {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 60px;
  height: 40px;
  width: 17%;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
}
header .navBar-container .navBar-main .nav-search .box-search {
  font-size: 16px;
  color: black;
  font-weight: 100;
  margin-left: 20px;
  margin-right: 10px;
}
